.wpcf7-form label, .wpcf7 .label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #BECDE3;
    margin-top: 0;
    padding-top: 0;
    margin-top: 24px;
    float: right;
    width: 379px;
}

.wpcf7-form .red_star {
    color: red;
}

.wpcf7-form input {
    background: #FFFFFF;
    border: 1px solid #BECDE3;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 14px;
    width: 100%;
    padding: 14px 15px;
    color: #000;
}
.wpcf7-form  input::placeholder,.wpcf7-form  input::-ms-input-placeholder {
    color: #000; 
}
.wpcf7-form input:focus,.wpcf7-form textarea:focus {
    border: 1px solid #0433EF;
}
.wpcf7-form .intl-tel-input {
    width: 100%;
    margin-top: 14px;
    color: #000;
}
.wpcf7-form p {
    margin: 0;
    padding: 24px 0 0;
    text-align: left;
}
.wpcf7-form textarea {
    height: 88px;
    border: 1px solid #BECDE3;
    border-radius: 4px;
    margin-top: 14px !important;
    resize: none !important;
    padding: 14px 15px;
    color: #000;
}
.wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #BECDE3;
    padding-left: 10px;
}
.wpcf7-form .wpcf7-form-control-wrap label {
    display: flex;
    justify-content: start;
    align-items: baseline;
}  
.wpcf7-form .wpcf7-form-control-wrap label input {
    width: max-content;
    margin-top: 0px;
    top: 20px;
    padding-top: 27px;
}
.wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item {
    margin-left: auto;
    margin-right: 0;
    float: right;
}
.wpcf7-submit.btn_chat.no_icon {
    background: #0433EF;
    width: max-content;
    padding: 10px 24px;
    border: none;
    color: #fff;
    text-align: center;
    display: block !important;
}
.wpcf7-submit.btn_chat.no_icon:hover {
    background-color: #0325AD;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    display: none;
  }
  
  .wpcf7-not-valid-tip {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #E9566E;
  }
  
  /* Inline #20 | http://localhost:8888/website-wp-ms/contact/ */
  
  .wpcf7-not-valid {
    color: #E9566E !important;
  }
  .wpcf7 .intl-tel-input.allow-dropdown .selected-flag, .wpcf7 .intl-tel-input.separate-dial-code .selected-flag {
    height: 48px;
}
/* custom checkbox styling for contact form 7 checkbox */
.wpcf7 span.wpcf7-list-item {
    display: inline-block;
    margin: 0;
}
.wpcf7 .wpcf7-list-item {
    display: block;
    margin-bottom: 10px;
}
.wpcf7 .wpcf7-form-control label {
    position: relative;
    cursor: pointer;
}
.wpcf7 input[type=checkbox] {
    visibility: hidden;
}
.wpcf7 .wpcf7-form-control input[type=checkbox] {
    /*position: relative;*/
    position: absolute;
    visibility: hidden;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
}

.wpcf7-form-control  .wpcf7-list-item-label.checked::after {

}
.wpcf7 .wpcf7-form-control  input[type=checkbox] + span {
/* border: 3px solid red; */
}
.wpcf7 .wpcf7-form-control  input[type=checkbox] + span:before {
    display: block;
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #BECDE3;
    left: 0px;
    top: 0px;
    border-radius: 4px;
}
.wpcf7 .wpcf7-form-control  input[type=checkbox] + span:after {
    display: block;
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    top: 0;
    left: 0;
    visibility: hidden;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    background-color: #0433EF;
    background-image: url(../images/checked.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 10px;
    border-radius: 4px;
}
.wpcf7 .wpcf7-form-control input[type=checkbox]:checked + span:before {
    background: transparent;
}
.wpcf7 .wpcf7-form-control  input[type=checkbox]:checked + span:after {
    visibility: visible;
}
.wpcf7 .wpcf7-list-item-label {
    margin-left: 21px;
    display: inline-block;
}
.like_h4.w-90pr{
    width: 379px;
    float: right;
}
.wpcf7 #files {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}
.wpcf7 .input-file.col-12 {
    width: 379px;
    padding: 0;
    margin: 0;
    float: right;
}
.input-file .uploadfile {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12.568px;
    line-height: 17px;
    color: #0C0042;
    position: relative;
    padding-left: 34px;
}
.input-file .uploadfile:before {
    content: '';
    width: 12px;
    height: 11px;
    background-image: url(../images/upload.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
} 
.input-file .uploadfile:hover:before {
    content: '';
    width: 12px;
    height: 11px;
    background-image: url(../images/uploadh.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
} 
.input-file .uploadfile.active:before {
    display: none;
}
.input-file .uploadfile.active {
    padding-left: 11px;
    margin: 0;
}
.input-file .cv.inactive {
    display: none !important;
    }
.input-file label.cv {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 35px;
    color: #BECDE3;
}
.wpcf7 .input-file{
    position: relative;
}
.wpcf7-form-control-wrap.file-cv {
    position: unset;
}
.wpcf7-form-control-wrap.file-cv .wpcf7-not-valid-tip {
    position: absolute;
    width: 379px;
    bottom: -10px;
    left: 0;
    }
    .dark_mode .wpcf7-form input {
    background: #1D1E2E;
    border: 1px solid #3D4152;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11), 0px 2px 2px rgba(0, 0, 0, 0.11), 0px 4px 4px rgba(0, 0, 0, 0.11), 0px 8px 8px rgba(0, 0, 0, 0.11), 0px 16px 16px rgba(0, 0, 0, 0.11), 0px 32px 32px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    color: #BECDE3;
}   
.dark_mode .wpcf7-form textarea {
    height: 88px;
    background: #1D1E2E;
    border: 1px solid #3D4152;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11), 0px 2px 2px rgba(0, 0, 0, 0.11), 0px 4px 4px rgba(0, 0, 0, 0.11), 0px 8px 8px rgba(0, 0, 0, 0.11), 0px 16px 16px rgba(0, 0, 0, 0.11), 0px 32px 32px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    margin-top: 14px !important;
    resize: none !important;
    padding: 14px 15px;
    color: #BECDE3;
}
.dark_mode .wpcf7-form input.wpcf7-not-valid, .dark_mode .wpcf7-form textarea.wpcf7-not-valid  {
    border: 1px solid #F06D85;
}
.dark_mode .wpcf7-form .wpcf7-list-item-label a {
    color: #0057FF;
}
.wpcf7 form .wpcf7-response-output {
    display: none;
}
.wpcf7 form.failed .wpcf7-response-output {
    display: block;
    position: absolute;
    bottom: -5px;
    width: 379px;
    right: 6px;
    font-size: 12px;
    padding: 3px 10px;
    border-width: 1px;
}
.wpcf7 .wpcf7-submit.btn_chat.no_icon {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border-radius: 8px;
}
@media screen and (max-width: 991px ) {
    .like_h4.w-90pr{
        width: 90%;
        float: right;
    }
    .wpcf7 .input-file.col-12 {
        width: 90%;
    }
    .wpcf7-form label, .wpcf7 .label {
        width: 90%;
    }
    .wpcf7-form .wpcf7-form-control-wrap label {
        width: 100%;
    }
    .wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item {
        width: 100%;
    }
}
@media screen and (max-width: 768px ) {
    .like_h4.w-90pr{
        width: 100%;
    }
    .wpcf7 .input-file.col-12 {
        width: 100%;
    }
    .wpcf7-form label, .wpcf7 .label {
        width: 100%;
    }
    .wpcf7-form .wpcf7-form-control-wrap label {
        width: 100%;
    }
    .wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item {
        width: 100%;
    }
    .wpcf7-submit.btn_chat.no_icon {
        width: 100%;
    }
}