.dark_mode {
    background-color: #1d1e2e
}

.dark_mode * {
    color: #fff
}

.dark_mode #cookies-message>div {
    color: #0c0042
}

.dark_mode .imga {
    display: none
}

.dark_mode .navbar {
    background-color: #1d1e2e
}

.dark_mode #main_nav ul.navbar-nav li .nav-link {
    color: #fff
}

.dark_mode .dropdown-menu {
    background-color: #1d1e2e
}

.dark_mode .dropdown-menu a {
    color: #fff
}

.dark_mode #main_nav .sub_menu_main_link {
    color: #fff
}

.dark_mode #main_nav ul.navbar-nav li.dropdown.has-megamenu .main_link {
    color: #fff
}

.dark_mode #main_nav .sub_menu_main_second_link {
    color: #fff
}

.dark_mode .footer_first a:hover,
.dark_mode footer a:hover,
.dark_mode footer a:hover,
.dark_mode .footer_container a.adres:hover,
.dark_mode #main_nav ul.navbar-nav li.dropdown.has-megamenu .main_link:hover,
.dark_mode #main_nav .sub_menu_main_link:hover,
.dark_mode #main_nav .sub_menu_main_second_link:hover {
    color: #002eff
}

.dark_mode .footer_container .footer_title {
    color: #fff
}

.dark_mode .footer_first,
.dark_mode footer {
    background-color: #1d1e2e
}

.dark_mode .footer_first a,
.dark_mode footer a,
.dark_mode footer a,
.dark_mode .footer_container .adres {
    color: #fff
}

.dark_mode .navbar-dark .navbar-toggler {
    border: none;
    outline: none;
    color: #1d1e2e
}

.dark_mode .navbar-toggler .hamburger .straight span {
    background: #0c0042;
    border: .2px solid #000;
    background: #fff;
    border: .2px solid #fff
}

.dark_mode .testimonials_slider .owl-item.active .item {
    background: #3d4152;
    border: 1px solid #3d4152
}

.dark_mode .testimonials_slider .author_container .name_container .name {
    color: #fff
}

.dark_mode .testimonials_slider .author_container .name_container .job {
    color: #fff
}

.dark_mode .testimonials_slider .owl-carousel .owl-nav button {
    background-color: #202538 !important;
    border: 1px solid #000
}

.dark_mode .owl-carousel .owl-nav .owl-prev {
    background-image: url(../images/leftw.svg) !important
}

.dark_mode .owl-carousel .owl-nav .owl-prev:hover {
    background-image: url(../images/lefthgreen.svg) !important
}

.dark_mode .owl-carousel .owl-nav .owl-next {
    background-image: url(../images/rightw.svg) !important
}

.dark_mode .owl-carousel .owl-nav .owl-next:hover {
    background-image: url(../images/righthgreen.svg) !important
}

.dark_mode .testimonials_slider .owl-carousel .owl-nav button.owl-next,
.dark_mode .testimonials_slider .owl-carousel .owl-nav button.owl-prev,
.dark_mode .testimonials_slider .owl-carousel button.owl-dot {
    border: 1px solid #0e0f21;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .11), 0 2px 2px rgba(0, 0, 0, .11), 0 4px 4px rgba(0, 0, 0, .11), 0 8px 8px rgba(0, 0, 0, .11), 0 16px 16px rgba(0, 0, 0, .11), 0 32px 32px rgba(0, 0, 0, .11);
    background: #1d1e2e
}

.dark_mode .rectangle_container {
    background: #1d1e2e;
    border: 1px solid #3d4152;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .11), 0 2px 2px rgba(0, 0, 0, .11), 0 4px 4px rgba(0, 0, 0, .11), 0 8px 8px rgba(0, 0, 0, .11), 0 16px 16px rgba(0, 0, 0, .11), 0 32px 32px rgba(0, 0, 0, .11);
    border-radius: 16px
}

.dark_mode a.services_item {
    transition: .4s all ease
}

.dark_mode a.services_item:hover {
    background: #0e0f21
}

.dark_mode .services_item:hover h3 {
    color: #fff
}

.cases.active.dark_mode .case_item:hover {
    background: #0e0f21
}

.cases.active.dark_mode .case_item:hover h3 {
    color: #fff
}

.dark_mode .wpcf7-form .wpcf7-submit.btn_chat.no_icon {
    border-radius: 8px;
    height: 44px;
    line-height: 24px;
    width: max-content
}

.dark_mode .intl-tel-input .country-list {
    background-color: #1d1e2e
}

.dark_mode a.services_item:hover {
    border-color: #16c6c5 !important
}

.dark_mode a.services_item:hover h3 {
    color: #16c6c5
}

.dark_mode a.services_item:hover .read_more {
    color: #16c6c5
}

.dark_mode a.services_item .read_more {
    color: #16c6c5
}

.cases.active.dark_mode .case_item:hover {
    border: .88339px solid #16c6c5
}

.cases.active.dark_mode .case_item:hover h3 {
    color: #16c6c5
}

.cases.active.dark_mode .case_item:hover .content .read_more {
    color: #16c6c5
}

.cases.active.dark_mode .case_item .content .read_more {
    color: #16c6c5
}

.dark_mode .case_study_list .read_more_btn .read_more,
.dark_mode .case_study_list .read_more_btn .read_more:hover {
    color: #16c6c5
}

.dark_mode .footer_first a:hover,
.dark_mode footer a:hover,
.dark_mode footer a:hover,
.dark_mode .footer_container a.adres:hover,
.dark_mode #main_nav ul.navbar-nav li.dropdown.has-megamenu .main_link:hover,
.dark_mode #main_nav .sub_menu_main_link:hover,
.dark_mode #main_nav .sub_menu_main_second_link:hover {
    color: #16c6c5
}

.dark_mode #main_nav ul.navbar-nav li .nav-link:hover::before {
    background: #16c6c5
}

.dark_mode #main_nav ul.navbar-nav li .nav-link.show::before {
    background: #16c6c5
}

.dark_mode .faq .faq_list .faq_item .faq_question {
    background: inherit;
    box-shadow: none
}

.dark_mode .faq .faq_list .faq_item.activeq:hover .faq_question,
.dark_mode .faq .faq_list .faq_item.activeb:hover .faq_question,
.dark_mode .faq .faq_list .faq_item.active .faq_question {
    border: .88339px solid #16c6c5 !important;
    color: #16c6c5 !important;
    background: #0e0f21;
    box-shadow: none
}

.dark_mode .faq .faq_list .faq_item.activeq:hover .faq_question svg path,
.dark_mode .faq .faq_list .faq_item.activeb:hover .faq_question svg path,
.dark_mode .faq .faq_list .faq_item.active .faq_question svg path {
    fill: #16c6c5
}

.dark_mode .faq .faq_list .faq_item .faq_answer {
    background: #0e0f21
}

.dark_mode .show_faq .img svg path {
    fill: #fff
}

.dark_mode .show_faq .img.active svg path,
.dark_mode .show_faq .img:hover svg path {
    fill: #16c6c5
}

@media screen and (max-width:991px) {
    .dark_mode .testimonials_slider .owl-item.active .item {
        background: unset;
        border: none
    }

    .dark_mode .testimonials_slider .owl-carousel .owl-nav button.owl-next,
    .dark_mode .testimonials_slider .owl-carousel .owl-nav button.owl-prev,
    .dark_mode .testimonials_slider .owl-carousel button.owl-dot {
        border: none
    }

    .read_more,
    .blog_slider .read-more {
        width: 150px
    }

    .dark_mode .designers_element.content_fit_image {
        display: flex;
        flex-flow: column;
        padding-top: 0;
        padding-bottom: 30px
    }
}

@media(min-width:600px) and (max-width:768px) {
    .wp-block-column:not(:only-child) {
        flex-basis: calc(100%) !important
    }
}

#main_nav ul.navbar-nav li .nav-link:hover {
    text-decoration: none !important
}

#main_nav ul.navbar-nav li.dropdown.has-megamenu .main_link {
    color: #0c0042;
    font-weight: 400;
    text-decoration: underline
}

.dark_mode .blog_list .filters .search_box .live-search-box-blog {
    background-color: #1d1e2e;
    border: 1px solid #3d4152;
    box-shadow: 0 1px 1px rgb(0 0 0/11%), 0 2px 2px rgb(0 0 0/11%), 0 4px 4px rgb(0 0 0/11%), 0 8px 8px rgb(0 0 0/11%), 0 16px 16px rgb(0 0 0/11%), 0 32px 32px rgb(0 0 0/11%)
}

.dark_mode .blog_list .filters .blog_categorys .allcat {
    color: #fff
}

.dark_mode .blog_list .filters .blog_categorys .cat {
    color: #fff
}

.dark_mode .blog_list .filters .blog_categorys .cat:hover {
    color: #16c6c5
}

.dark_mode .blog_list h1,
.dark_mode .blog_list h4,
.dark_mode .blog_list h1.like_h4 {
    color: inherit
}

.dark_mode .blog_list .blog_list_item {
    background: inherit
}

.dark_mode .blog_list .blog_list_item:hover {
    border: 1px solid #16c6c5;
    background: #0e0f21
}

.dark_mode .blog_list .content_preview {
    color: inherit
}

.dark_mode .blog_list .blog_list_item:hover .read_more {
    color: #16c6c5
}

.dark_mode .blog_list .blog_list_item:hover h4,
.dark_mode .blog_list .blog_list_item:hover h1.like_h4 {
    color: #16c6c5
}

.dark_mode .blog_list_item .multiple_authors .names span,
.dark_mode .blog_list_item .multiple_authors .jobs {
    color: inherit
}

.dark_mode .blog_list_item .date .hour {
    filter: brightness(0) invert(1)
}

.dark_mode .blog_list .image.thumbnail img {
    background: linear-gradient(0deg, rgba(37, 43, 121, 1) 0%, rgba(28, 30, 46, 1) 100%)
}

.dark_mode .blog_list .blog_list_item:hover .image.thumbnail img {
    background: linear-gradient(0deg, rgba(64, 98, 108, 1) 0%, rgba(28, 30, 46, 1) 100%)
}

.blog_list .image.thumbnail img {
    background: #f6fbfe
}